<header>
  <section class="logo">
    <img src="https://placehold.co/128x128"
         alt="">
  </section>

  <section class="title">
    Angular 17 App
  </section>

  <nav class="nav">
    <ul>
      <li>
        <a class="nav-link"
           routerLink="Home"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      <li>
        <a class="nav-link"
           routerLink="WithParameters/Ciaoneproprio"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          Test Parameters
        </a>
      </li>
      <li>
        <a class="nav-link"
           routerLink="About"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>